@model API_Classes.UserDataIntermed // Adjust the namespace as necessary
@{
    ViewData["Title"] = "ModifyAccountWindow";
    string message = ViewBag.message;
    string error = ViewBag.Error;
}

<style>
    * {
        box-sizing: border-box;
    }

    #CreateUserForm {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh; /* Adjust height to vertically center */
    }

    .horizontal-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px; /* Add some space between form fields and image selection */
    }

    .form-section, .image-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 200px;
    }

    input {
        margin-bottom: 10px;
        width: 300px;
        padding: 5px;
    }

</style>
<div class="text-center">
    <h1 class="display-4">Create Account</h1>
</div>
<div id="CreateAccountForm">
    <div class="form-section">
        <input type="hidden" name="username" value="@Model.username" />
        <input type="hidden" name="email" value="@Model.email" />

        <input type="text" id="AccNum" name="accNum" placeholder="Account Number" />
        <input type="text" id="PIN" name="pin" placeholder="PIN" />
        <input type="text" id="Description" name="description" placeholder="Description" />

    </div>

    <div class="horizontal-layout">
        <p>Balance: 0</p>
        <button type="button" id="createAccount" onclick="addNewAccount()">Create Account</button>
    </div>
</div>
    