<div id="successMessage" style="color: green; text-align: center; margin-top: 20px;">
    <p>@ViewBag.message</p>

    <button type="button" id="returnButton" onclick="loadView()">return to login</button>

</div>

