@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">DC ASSIGNMENT 2 BANK APP</h1>
    </div>
        <p> Jin Lee - ADD STUDENT ID HERE</p>
        <p> Alex Chan - ADD STUDENT ID HERE</p>
    </div>

