<!DOCTYPE html>
<html lang="en">
<head>
    <title>DC Assignment 2 </title>
</head>
<body>
    <div id="header">
    </div>
    <div id="main">
    </div>
    <div id="footer">
        <p> Developed by Jin Lee and Alex Chan</p>
    </div>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script> // Load the initial view
        window.onload = function () {
            loadView();
        };

        function addNewUser() {
            const username = document.getElementById('Username').value;
            const email = document.getElementById('Email').value;
            const address = document.getElementById('Address').value;
            const phoneNo = document.getElementById('PhoneNo').value;
            const password = document.getElementById('Password').value;
            const fileInput = document.getElementById('fileInput');
            const profilePicture = fileInput.files[0];

            const userData = {
                username: username,
                email: email,
                address: address,
                phoneNum: phoneNo,
                password: password,
                profilePicture: null,
                isAdmin: 0
            };

            if (profilePicture) {
                const reader = new FileReader();
                reader.onloadend = function () // When the file has been read
                {
                    const base64String = reader.result.split(',')[1]; // Strip the URL until it is just the base64String
                    userData.profilePicture = base64String; // Assign base64String to profilePicture string
                    loadView('addNewUser', userData, 'POST')
                };
                reader.readAsDataURL(profilePicture); // read the profilePicture as DataURL
            } else {
                loadView('addNewUser', userData, 'POST')
            }
        }

        function modifyUser() {
            const username = document.getElementById('Username').value;
            const email = document.getElementById('Email').value;
            const address = document.getElementById('Address').value;
            const phoneNo = document.getElementById('PhoneNo').value;
            const password = document.getElementById('Password').value;
            const fileInput = document.getElementById('fileInput');
            const profilePicture = fileInput.files[0];

            const oldUsername = document.getElementById('OldUsername').value;
            const oldEmail = document.getElementById('OldEmail').value;

            // Create userDataIntermed object

            const userData = {
                User: {
                    username: username,
                    email: email,
                    address: address,
                    phoneNum: phoneNo,
                    password: password,
                    profilePicture: null,
                    isAdmin: 0
                },
                OldEmail: oldEmail,
                OldUsername: oldUsername
            };


            if (profilePicture) {
                const reader = new FileReader();
                reader.onloadend = function () // When the file has been read
                {
                    const base64String = reader.result.split(',')[1]; // Strip the URL until it is just the base64String
                    userData.User.profilePicture = base64String; // Assign base64String to profilePicture string
                    console.log('User modified profile picture');
                    loadView('sendModifyRequest', userData, 'POST')
                };
                reader.readAsDataURL(profilePicture); // read the profilePicture as DataURL
            } else {
                console.log('User did not modify profile picture');
                loadView('sendModifyRequest', userData, 'POST')
            }
        }

        function addNewAccount() {
            const username = document.querySelector('[name="username"]').value;
            const email = document.querySelector('[name="email"]').value;
            const accNum = document.getElementById('AccNum').value;
            const pin = document.getElementById('PIN').value;
            const description = document.getElementById('Description').value;

            const accountData = {
                username: username,
                email: email,
                accountNumber: accNum,
                pin: pin,
                description: description,
                balance: 0
            };
            console.log('Create new account details:', accountData);

            loadView('addNewAccount', accountData, 'POST');
        }
    </script>
</body>
</html>