<!DOCTYPE html>
<html lang="en">
<head>
    <title>DC Assignment 2 </title>
</head>
<body>
    <div id="header">
    </div>
    <div id="navigation">
    </div>
    <div id="main">
    </div>
    <div id="footer">
        <p> Developed by Jin Lee and Alex Chan</p>
    </div>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script> // Load the initial view
        window.onload = function () {
            loadView();
        };

        function addNewUser() // Function to add a new user
        {
            // Get the data from document elements
            const username = document.getElementById('Username').value;
            const email = document.getElementById('Email').value;
            const address = document.getElementById('Address').value;
            const phoneNo = document.getElementById('PhoneNo').value;
            const password = document.getElementById('Password').value;
            const fileInput = document.getElementById('file-input');
            const profilePicture = fileInput.files; // Get the first file

            // Create a FormData object to handle file upload
            const userData = new FormData();
            userData.append('username', username);
            userData.append('email', email);
            userData.append('address', address);
            userData.append('phoneNum', phoneNo);
            userData.append('password', password);
            if (profilePicture) {
                userData.append('profilePicture', profilePicture);
            }
            userData.append('isAdmin', 0); // Assuming default isAdmin value is 0

            // Call loadView with the form data
            loadView('addNewUser', userData, 'POST');
        }
    </script>
</body>
</html>